.innerContainer {
    width: 100vw;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    place-items: center;

}

.first,
.second {
    max-width: 60%;
    height: 65%;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5vh;
    padding-inline: 5vh;
}

.header1,
.header2 {
    text-align: center;
    font-size: clamp(24px, 2vw, 40px);
    margin-bottom: 3vh;
    font-weight: 400;
}

.tag1,
.tag2,
.tag3 {
    text-align: left;
    margin-bottom: 1vh;
    font-size: clamp(14.8px, 1.2vw, 25px);
    margin-top: 7px;

}

button {
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    font-size: clamp(18.5px, 1.5vw, 30px);
    color: goldenrod;
    margin-top: 15px;
}

/* textarea {
    margin-bottom: 1vw;
    font-size: 1vw;
    letter-spacing: 1px;
    width: 25vw;
    margin-bottom: 3vh;
    border: none;
    font-family: 'Red Hat Text', sans-serif;
    outline: none !important;

} */

.inner {
    font-size: clamp(18.3px, 1.5vw, 30px);
    text-align: center;
}

.header2 {
    margin-bottom: 15px;
}

.address {
    margin-bottom: 10vh;
}

.contact {
    font-weight: 300;
    font-size: clamp(13.58px, 1.1vw, 20px);
    margin-bottom: 20px;
}

.address>span {
    color: goldenrod;
}

.second {
    justify-content: flex-start;
}

.outerContainer {
    height: 100vh;
}

.socialicon {
    width: 2vw;
}

.social {
    display: flex;
    gap: 1vw;
    margin-bottom: 3vh;
    justify-content: center;
}

#Name,
#Email {
    width: 35vh;
}
.message-box{
    width: 300px;
    height: 170px;
}
.heading-gap{
    font-weight: bold;
    margin-right: 5px;
}
.line-break{
    display: none;
}
@media only screen and (max-width:768px) {
    body {
        width: 100vw;
        height: fit-content;
    }

    .innerContainer {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        color: white;
        display: flex;
        flex-direction: column;
        place-items: center;

    }

    .first {
        margin-top: 30vw;
    }

    .second {
        margin-bottom: 10vw;
    }

    .first,
    .second {
        min-width: 65%;
        height: 116%;

    }

    /* textarea {
        margin-bottom: 1vw;

        font-size: 2.5vw;
        letter-spacing: 1px;
        width: 35vw;
        margin-bottom: 3vh;
        border: none;
        font-family: 'Red Hat Text', sans-serif;
        outline: none !important;
    } */

    .socialicon {
        width: 9vw;
    }

    #Name,
    #Email,
    #Message {
        width: 35vh;
    }

    .message-box{
        width: 210px;
        height: 120px;
    }
    .line-break{
        display: block;
    }

}