html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
p,
ul,
li,
img,
body,
html,
* {
  margin: 0;
  padding: 0;
}

body {

  width: 100vw;
  height: 100vh;
  overscroll-behavior: none;
  display: grid;
  justify-content: center;
}

@media only screen and (min-width:769px) {
  .products-Display {
    width: 100vw;
    height: 100vh;
    display: flex;

    align-items: center;

  }

  .products-DisplayMobile {
    display: none;
  }

  .slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .slides {
    width: 900%;
    height: 100vh;
    display: flex;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 20%;
    transition: 2s;
  }

  .slide img {
    width: 100vw;
    height: 100vh;
  }

  /*css for manual slide navigation*/

  .navigation-manual {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn {
    border: 2px solid grey;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  .manual-btn:hover {
    background: grey;
  }

  #radio1:checked~.first {
    margin-left: 0;
  }

  #radio2:checked~.first {
    /* margin-left: -16.63%; */
    margin-left: -11%;
  }

  #radio3:checked~.first {
    /* margin-left: -40.1%; */
    margin-left: -25%;
  }

  #radio4:checked~.first {
    /* margin-left: -60%; */
    margin-left: -43%;
  }

  #radio5:checked~.first {
    /* margin-left: -80%; */
    margin-left: -66.8%;
  }

  #radio6:checked~.first {
    margin-left: -100%;
  }

  #radio7:checked~.first {
    margin-left: -120%;
  }
  
  #radio8:checked~.first {
    margin-left: -140%;
  }
  #radio9:checked~.first {
    margin-left: -160%;
  }
  #radio10:checked~.first {
    margin-left: -180%;
  }


  .hamburger-Menu {
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw;
    height: 0;
    background: rgba(0, 0, 0, 0.699);
    position: fixed;
    z-index: 8;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }

  .navList {
    list-style: none;

    width: 60vw;

  }

  .navItems>a {
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
    font-size: 5vw;
    font-weight: 700;
    text-shadow: 0px 10px 20px rgb(0, 0, 0);
  }

  .navItems>a:hover {
    font-size: 5.5vw;
  }

  .close-Icon {
    height: 5vw;
    width: 5vw;
    margin-left: 5vw;
    cursor: pointer;
    margin-right: 10rem;
  }

  .navIcons {
    display: flex;
    gap: 1rem;
    position: absolute;
    z-index: 6;
    top: 2vh;
    left: 0vw;
    width: 95vw;
    justify-content: flex-end;
    align-items: center;
  }

  .back {
    padding: 1rem 3rem;
    background: rgb(255, 255, 255);
    height: 6vh;
    min-width: 9vw;
    color: black;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
  }

  #hamburger-Image {
    width: 3vw;
    cursor: pointer;
  }
}

.bgImageContainer {
  width: 100vw;
  height: 100vh;
  background: url(/assets/background4.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 95vw 120vh;
  background-position: center;
  position: fixed;
  z-index: -2;
}













@media only screen and (max-width:768px) {

  html {
    max-width: 100vw;
    height: fit-content;
    overflow-x: hidden;
  }

  body {
    max-width: 100vw;
    height: auto;
    overflow: hidden;
  }

  .bgImageContainer {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.459) url(/assets/background4.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 210vw 90vh;
    background-position: center;
    position: fixed;
    z-index: -2;
  }

  .outerContainer {
    height: fit-content;
    width: 100%;
  }

  .container {
    max-width: 100vw;
  }

  .hamburger-Menu {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.699);
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: -100vw;
    transition: all 1s ease-in-out;
  }

  .navList {
    margin-top: 10vh;
    list-style: none;
    width: 80vw;
  }

  .navItems>a {
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
    font-size: 10vw;
    font-weight: 700;
    text-shadow: 0px 10px 20px rgb(0, 0, 0);
  }

  .navItems>a:hover {
    font-size: 12vw;
  }

  .close-Icon {
    height: 10vw;
    width: 10vw;
    cursor: pointer;
  }

  .navIcons {
    width: 100vw;
    height: fit-content;
    background: rgba(0, 0, 0, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid gold;
    opacity: 1;
    transition: all 1s ease-in-out;
  }

  #hamburger-Image {
    width: 10vw;
    margin: 2.5vh 0;
  }

  .hamBurger {
    cursor: pointer;
    display: grid;
    gap: 1rem;
    place-items: center;
    margin-left: 3.5rem;
    margin-top: 5rem;

  }

  .productContainer {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .products-DisplayMobile {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;

    background-color: rgb(78, 78, 78);

  }

  .slider {
    width: 100vw;
    height: auto;
    /* display: flex; */
    overflow: hidden;
    margin-inline: 5vw;
  }

  .slides {
    width: 1100%;
    height: auto;
    display: flex;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 20%;
    transition: 2s;
  }

  .slide img {
    width: 90vw;
    height: auto;
  }

  /*css for manual slide navigation*/

  .navigation-manual {
    position: absolute;
    min-width: 90vw;
    margin-inline: 0vw;

    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


  }

  .manual-btn {
    border: 2px solid white;
    padding: 1.4vw;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
  }


  .manual-btn:hover {
    background: white;
  }

  #radioMob1:checked~.first {
    margin-left: -0.1%;
  }

  #radioMob2:checked~.first {
    margin-left: -9%;
  }

  #radioMob3:checked~.first {
    margin-left: -18.5%;
  }

  #radioMob4:checked~.first {
    margin-left: -27%;
  }

  #radioMob5:checked~.first {
    margin-left: -40%;
  }

  #radioMob6:checked~.first {
    margin-left: -55%;
  }

  #radioMob7:checked~.first {
    margin-left: -75%;
  }

  #radioMob8:checked~.first {
    margin-left: -100%;
  }

  #radioMob9:checked~.first {
    margin-left: -132%;
  }

  #radioMob10:checked~.first {
    margin-left: -178.5%;
  }

  #radioMob11:checked~.first {
    margin-left: -199.5%;
  }

  #radioMob12:checked~.first {
    margin-left: -219.7%;
  }

  #radioMob13:checked~.first {
    margin-left: -240%;
  }

  #radioMob14:checked~.first {
    margin-left: -260%;
  }

  .products-Display {
    display: none;
  }
}